{% extends 'base.html' %} 
{% load static %}
 {% block content %}

 <section id="about" class="about">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
          <img src="{% static 'images/entsiimage'%}" alt="">   
        </div>

        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
          <h3>ENTSI</h3>
          <p> l’École des Nouvelles Technologies & Systèmes d’Information.</p>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-fingerprint"></i></div><br>
             <p class="description">L’ENTSI forme les futurs acteurs du web et de l’informatique.</p> 
          </div>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-gift"></i></div><br>
            <p class="description"> Un programme sur-mesure en présentiel et à distance,
              destiné à former de futurs concepteurs développeurs informatiques, administrateurs systèmes et réseaux.</p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-atom"></i></div><br>
             <p class="description"> Une entreprise pour faire son alternance</p>
          </div>

        </div>
      </div>

    </div>
  </section>
  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  
  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  {% endblock content %}
