{% extends 'base.html' %} 
{% load static %}
{% block content %}
<body>
  <section id="hero" class="d-flex align-items-center">
    <div class="container">

      <h1>Bienvenue au SRMP</h1>
      <h2>Système de Recommandation de Médecin Personnalisé</h2><br>

      <form method="POST" style="display: flex; margin-top: 35px;" action="{% url 'recommend_doctors' %}">
        {% csrf_token %}

        <div class="form-floating">
          <label for="symptoms"> </label>
          <select name="symptoms" class="form-select" id="floatingSelect" aria-label="Floating label select example" style="width: 300px; margin-left: 10px; border-radius: 50px; padding: 10px 35px;" required>
            <option value="" selected disabled>Symptômes...</option>
            {% for symptoms in maladie %}
              <option value="{{ symptoms.names }}"> {{ symptoms.names }} </option>
            {% endfor %}
          </select>
        </div>

        <div class="form-floating">
          <label for="ville"> </label>
          <select name="ville" class="form-select" id="floatingSelect" aria-label="Floating label select example" style="width: 220px; margin-left: 10px; border-radius: 50px; padding: 10px 35px;" required>
            <option value="" selected disabled>Villes...</option>
            {% for item in ville %}
              <option value="{{ item.names }}"> {{ item.names }} </option>
            {% endfor %}
          </select> 
        </div>
        <div class="form-floating"  style="width: 320px; margin-top: -35px; border-radius: 50px; padding: 10px 35px;">
          <button type="submit" class="btn-get-started" style="border: none;"><i class="fa-solid fa-magnifying-glass"></i> Recommander</button>
        </div>
      </form>
  </section>

  <main id="main">
    
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Pourquoi SRMP ?</h3>
              <p>
                SRMP est un système de recommandation de médecin efficace et précis.
                 Capable de prendre en compte différents critères tels que la spécialité médicale, l'expérience, les compétences,
                  les avis des patients et d'autres facteurs pertinents pour générer des recommandations personnalisées pour chaque patient.
              </p>   
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="fa-sharp fa-solid fa-stethoscope"></i>
                    <h4>Personnalisation</h4>
                    <p style="text-align: center;">Un bon système de recommandation peut prendre en compte les préférences et les besoins 
                      spécifiques de chaque utilisateur. Il peut suggérer des médecins en
                      fonction de la localisation, de la spécialité, des langues parlées....</p>     
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="fa-solid fa-hourglass-start"></i>
                    <h4>Gain de temps</h4>
                    <p style="text-align: center;">Rechercher un médecin peut être chronophage, en particulier lorsque
                      l'on tient compte de différents facteurs tels que la disponibilité,
                      les horaires de consultation, les spécialités, etc .</p>
                      </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="fa-solid fa-clock"></i>
                    <h4>Accessibilité et disponibilité</h4>
                    <p style="text-align: center;">Les systèmes de recommandation en ligne sont accessibles 24 heures sur 24, 7 jours sur 7, 
                      ce qui permet aux utilisateurs de rechercher des médecins à tout moment .</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  
  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  
</body> 
{% endblock content %}   




