{% extends 'base.html' %} 
{% load static %}
{% block content %}


<html>
<head>
  <title>Catalogue de produits alimentaires</title>
  <style>
    #catalogue-alimentaire {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales */
      grid-gap: 20px; /* Espacement entre les produits */
    }

    .produit {
      text-align: center;
    }
  </style>
</head>
<body>
  <br><br><br>
  <div id="catalogue-alimentaire">
    <div class="produit">
      <img src="{% static 'images/2.jpg' %}" alt="complement." class="h-full w-full object-cover object-center group-hover:opacity-75"  width="300" height="250">
      <h3>AKTIV A-Z</h3>
      <p> VITAMINES ET
        MINERAUX 30 COMPRIMES</p>
      <p>Prix : 32,547DT</p>
    </div>

    <div class="produit">
      <img src="{% static 'images/3.jpg' %}" alt="complement." class="h-full w-full object-cover object-center group-hover:opacity-75" width="300" height="250">
      <h3>AKTIV</h3>
      <p>AKTIV MAGNESIUM ET
        VITAMINES</p>
       
      <p>Prix : 30,257DT</p>
    </div>

    <div class="produit">
      <img src="{% static 'images/4.jpg' %}" alt="complement." class="h-full w-full object-cover object-center group-hover:opacity-75"  width="300" height="250">
      <h3>AKTIV </h3>
      <p>AKTIV MEMOVIT+B-vitamines</p>
      <p>Prix : 29,988DT</p>
    </div>

    <div class="produit">
      <img src="{% static 'images/5.jpg' %}" alt="complement" class="h-full w-full object-cover object-center group-hover:opacity-75" width="300" height="250">
      <h3>AKTIV</h3>
      <p>AKTIV Vital yeux
        + Omega 3
        </p>
      <p>Prix : 43,633DT
      </p>
    </div>

    <div class="produit">
      <img src="{% static 'images/6.jpg' %}" alt="complement" class="h-full w-full object-cover object-center group-hover:opacity-75" width="300" height="250">
      <h3>AKTIV </h3>
      <p>AKTIV Vital Arteres
      </p>
      <p>Prix : 28,917DT
      </p>
    </div>

    <div class="produit">
      <img src="{% static 'images/7.jpg' %}" alt="complement" class="h-full w-full object-cover object-center group-hover:opacity-75" width="300" height="250">
      <h3>AKTIV </h3>
      <p>ALEONAT Aleogine Gel 50ML
      </p>
      <p>Prix : 8,2117DT
      </p>
    </div>
    
  </div>
</body>
</html> 

   
 {% endblock content %}