 <footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>SRMP</h3>
          <p>
            Immeuble El Harti, angle Bd Allal 
            Ben Abdallah et Bd Youssef Ben Tachfine <br>
            Oujda<br>
            <br>
            <strong>Phone:</strong> +212536688118<br>
            <strong>Email:</strong> 
            contact@ecole-ntsi.com<br>
          </p>
        </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Liens Utiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Accueil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Médecin</a></li>
              {% comment %} <li><i class="bx bx-chevron-right"></i> <a href="#">Rendez-vous</a></li> {% endcomment %}
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">À propos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nos Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Recommandation</a></li> 
              <li><i class="bx bx-chevron-right"></i> <a href="#">Chercher un Docteur</a></li>
              
              
            </ul>
          </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Rejoignez notre newsletter</h4>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.facebook.com/ecole.ntsi" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/ecolentsi/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/entsi/about/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->
