
<div id="topbar" class="d-flex align-items-center">
  <div class="container d-flex justify-content-between">
    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-envelope"></i> <a href="mailto:contact@ecole-ntsi.com">contact@ecole-ntsi.com</a>
      <i class="bi bi-phone"></i> +212536688118
    </div>
    <div class="d-none d-lg-flex social-links align-items-center">
      <a href="https://www.facebook.com/ecole.ntsi" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/ecolentsi/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/company/entsi/about/" target="_blank"><i class="fab fa-linkedin"></i></a>      
    </div>
  </div>
</div>
